.overlays {
  position: absolute;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

button {
  width: 8rem;
  padding: 0.5rem;
  margin: 2rem 1rem;
}

.select-item {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
