.passport-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Sriracha", cursive;
  color: #00728f;
}

input,
select {
  font-family: inherit;
  border: 1px solid #4cc3e0;
  border-radius: 3px;
  color: #00728f;
  padding-left: 0.5rem;
}

input:focus,
select:focus {
  outline: none;
}

.passport__page--2 {
  width: 33rem;
  height: 23rem;
  border: 2px solid #4cc3e0;
  background-color: #83d0e4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  perspective: 1000px;
  transition: all 1s ease-in-out;
}

.header {
  margin: 0.5rem 1rem;
}

.header select {
  margin: auto;
  width: 31rem;
}

.input-wrapper {
  display: flex;
  justify-content: space-around;
}

.picture {
  width: 175px;
  height: 225px;
  margin-top: 2rem;
  border-radius: 4px;
  border: 2px solid #4cc3e0;
}

.cover {
  width: 100%;
  height: 98%;
  position: absolute;
  top: 2%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #4cc3e0;
  transform: rotateX(120deg);
  transform-style: preserve-3d;
  transform-origin: top;
  transition: all 0.5s ease-in;
}

.cover-rotate {
  width: 100%;
  height: 98%;
  position: absolute;
  top: 2%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #4cc3e0;
  transform: rotateX(0deg);
  transform-style: preserve-3d;
  transform-origin: top;
  transition: all 0.5s ease-in;
}

.passport__page--2-rotate {
  width: 33rem;
  height: 23rem;
  border: 2px solid #4cc3e0;
  background-color: #83d0e4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  perspective: 1000px;
  transform: rotate(-90deg);
  transition: all 1s ease-in-out;
}

figure {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  display: block;
}

figure.front {
  background: url("../img/world.png");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(90deg);
}

/* BUTTONS */
.btn-wrapper {
  position: absolute;
  bottom: 2rem;
}

button {
  width: 8rem;
  padding: 0.5rem;
  margin: 2rem 1rem;
}

.nav-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
