.passport-container {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passport__page--2 {
  width: 50vw;
  height: 30vw;
  border: 1px solid orangered;
  display: grid;
  grid-template-columns: 3fr;
  grid-template-areas:
    '. header header'
    'photo inputs inputs'
    'photo inputs inputs'
    '. inputs inputs';
}

.header {
  grid-area: header;
}

.picture {
  grid-area: photo;
}
