.passport-container {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Sriracha', cursive;
  color: #00728f;
}

input,
select {
  font-family: inherit;
  border: 1px solid #4cc3e0;
  border-radius: 3px;
  color: #00728f;
}

input:focus,
select:focus {
  outline: none;
}

.passport__page--2 {
  width: 30vw;
  height: 73vh;
  border: 2px solid #4cc3e0;
  background-color: #83d0e4;
  border-radius: 10px;
  position: relative;
  perspective: 1000px;
  transition: all 1s ease-in-out;
}

.details {
  transform: rotate(-90deg);
  position: absolute;
  top: 15vh;
  left: -6vw;
  z-index: -1;
}

.input-wrapper {
  width: 70vh;
  display: flex;
  justify-content: space-around;
}

.header {
  margin: 1rem 3rem 1rem 8rem;
}

.picture {
  width: 150px;
  height: 200px;
}

button {
  width: 8rem;
  padding: 0.5rem;
  margin: 2rem 1rem;
}

.edit-btn {
  position: absolute;
  right: 2rem;
  bottom: 6rem;
}

.submit-btn {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

.cover {
  width: 94%;
  height: 100%;
  position: absolute;
  left: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #4cc3e0;
  transform: rotateY(-20deg);
  transform-style: preserve-3d;
  transform-origin: left;
  transition: all 0.5s ease-in;
}

.cover-rotate {
  width: 94%;
  height: 100%;
  position: absolute;
  left: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #4cc3e0;
  transform: rotateY(-120deg);
  transform-style: preserve-3d;
  transform-origin: left;
  transition: all 0.5s ease-in;
}

.passport__page--2-rotate {
  width: 30vw;
  height: 73vh;
  border: 2px solid #4cc3e0;
  background-color: #83d0e4;
  border-radius: 10px;
  position: relative;
  perspective: 1000px;
  transform: rotate(90deg);
  transition: all 1s ease-in-out;
}

figure {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  display: block;
}

figure.front {
  background: url('../img/world.png');
  background-repeat: no-repeat;
  background-position: center;
}
